@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";

.table-element-edit-button{
    margin-right: 5px;
    margin-left: 5px;
}

.disabledContainer {
    z-index: 1000;
    background-color: lightgrey;
    opacity: 0.6;
    pointer-events: none;
}